.dialog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.header {
  display: flex;
  flex-shrink: 0;
  padding: 12px 1.25rem 11px;
  border-bottom: 1px solid #ebedf0;
}

.title {
  margin: 0;
  margin-right: auto;
}

.dialogInput {
  resize: none;
}
