.container {
  width: 424px;
}

.container p {
  margin-bottom: 27px;
}

.container p label {
  font-weight: bold;
  padding-left: 3px;
}

.container p input {
  margin-top: 7px;
  height: 35px;
}

.saveBtn {
  margin-top: 4px;
}
