.ethPrompt {
  margin-bottom: 2rem;
  background: #FFFBE8;
  border: 0;
  padding: 2rem !important;
  padding-bottom: 1rem !important;
}

.ethPrompt h3 {
  margin-bottom: 1rem;
}

.signupSection {
  position: relative;
}

.securedAccountImg {
  position: absolute;
  right: 2rem;
  top: 2rem;
  height: 3.625rem;
}

.userAddress {
  display: inline-flex;
  width: 100%;
  margin-bottom: 24px;
  line-height: 32px;
}

.registerButton {
  text-transform: uppercase;
  font-size: large;
  /* looks more reponsive */
  transition: color 0s;
}

.extraRegisterInfo {
  line-height: 39px;
}

.otherAccounts {
  margin-bottom: 2rem;
}

.helpIcon {
  margin-left: 0.5rem;
}

.importExportButtons {
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: nowrap;
}

.exportButton {
  margin-left: 1rem;
}

.signInButton {
  margin-left: 1rem;
}
