.textArea {
  resize: none;
  border-radius: 0;
  border: 0px;
  border-top: 1px solid #ebedf0;
  padding-right: 6rem;
}

.textArea:hover,
.textArea:focus {
  border: 0px;
  border-top: 1px solid #ebedf0;
  box-shadow: none;
}

.textAreaWrapper,
.submitButtonWrapper {
  position: relative;
  margin: 0;
}

.submitButtonWrapper :global .ant-form-item-control {
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  position: absolute !important;
  bottom: 10px;
  right: 10px;
}
