.profileContainer {
  display: flex;
}

.userAvatar {
  margin-right: 1.5rem;
  height: 8rem;
  width: 8rem;
  border-radius: 8rem;
}

.userAvatar > * {
  line-height: 8rem;
}

.newVerifyItemLink {
  display: flex;
  color: #CCCCCC;
  align-items: center;
  width: 100%;
}

.verifications {
  list-style: none;
  padding: 2rem;
  min-width: 250px;
}

.userCard {
  padding: 1rem 2rem;
}
