.container {
  display: flex;
  width: 50%;
  position: relative;
  margin: 2rem auto;
  padding: 2rem 4rem;
}

.container.isFrist {
  margin-top: 4rem;
  padding-top: calc(1.5rem + 70px);
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    margin: 2rem 0;
  }
}

.avatar {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -40%);
  border: 3px solid #FFFFFF;
  box-shadow: rgba(176, 176, 176, .25) 0 3px 3px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.displayName {
  font-size: 18px;
  font-weight: bold;
}

.addressWrapper {
  display: flex;
  flex-direction: column;
}

.addressWrapper.isFrist {
  margin-top: 2rem;
}

.addressTitle,
.address {
  font-size: 12px;
}

.addressTitle {
  font-weight: bold;
}

.socialIcon {
  font-size: 16px;
  margin-right: .75rem;
}

.notConnected {
  color: #ccc;
}

.addressWrapper,
.verificationWrapper {
  width: 100%;
}

.verificationBasicInfo {
  display: flex;
  align-items: center;
}

.connectLink {
  margin-left: auto;
}

.connectIcon {
  font-size: 12px;
}

.statusWrapper {
  margin-left: auto;
}

.verificationStatusText {
  margin-right: .5rem;
}

.verificationStatusIcon.valid,
.verificationStatusText.valid {
  color: #52c41a;
}

.verificationStatusIcon.invalid,
.verificationStatusText.invalid {
  color: #f5222d;
}

.verificationStatusIcon.checking,
.verificationStatusText.checking {
  color: #ccc;
}

.overwriteLink:hover
.overwriteLink:focus
.overwriteLink:active {
  text-decoration: none;
}

.extraInfo {
  margin-top: .5rem;
  padding: 0 28px;
}

.extraInfoItem {
  font-size: 14px;
}

.extraInfoItem:not(:last-child) {
  margin-right: 1.5rem;
}

.messageButton {
  padding: 0 4rem;
}
