.verifiedItem {
  composes: verificationItem from './index.css';
}

.platformIcon {
  composes: platformIcon from './index.css';
}

.checkStatusIndicatorIcon {
  composes: checkVerificationIndicatorIcon from './index.css';
  cursor: pointer;
}

.verifiedItem.checking > .platformIcon,
.verifiedItem.checking > .username,
.verifiedItem.checking > .checkStatusIndicatorIcon {
  color: #CCCCCC;
}

.verifiedItem.invalid > .platformIcon,
.verifiedItem.invalid > .username,
.verifiedItem.invalid > .checkStatusIndicatorIcon {
  color: #FF3A3A;
}

.verifiedItem.valid > .username,
.verifiedItem.valid > .checkStatusIndicatorIcon {
  color: #1890FF;
}

.verifiedItem.valid .platformText {
  color: #CCCCCC;
}
