.container :global .ant-list-item-action > li {
  padding-right: 0;
}

:global .ant-list-split :local .container {
  border-bottom: none;
}

.transactionLink,
.transactionLink:hover {
  color: rgba(0, 0, 0, 0.65);
}

.statusIcon:not(:last-child) {
  margin-right: 0.625rem;
}

.listContent {
  margin-left: 0.625rem;
  min-width: 1rem;
  margin-right: 0.8rem;
}
