.container :global .ant-list-item-action > li {
  padding-right: 0;
}

.container :global .ant-list-item-meta {
  align-items: center;
}

.container :global .ant-list-item-meta-title {
  margin-bottom: 0;
}

.container :global .ant-list-item-action-split {
  display: none;
}

.container :global .ant-list-item-action {
  margin-left: 0;
}

:global .ant-list-split :local .container {
  border-bottom: none;
}

.statusIcon:not(:last-child) {
  margin-right: 0.625rem;
}

.statusIcon.warn {
  color: #faad14;
}
.statusIcon.error {
  color: #f5222d;
}

.listContent {
  margin-left: 0.625rem;
  min-width: 1rem;
  margin-right: 1.35rem;
}
