.congratulations {
  text-align: center;
  margin-top: 12px;
}

.provingComponentContainer {
  text-align: center;
}

.content {
 margin-bottom: 8px;
 width: 80%;
}

.provingNotice {
  text-align: center;
}
