.usernameContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.usernameContainer > input {
  width: 16rem;
}

.platformIcon {
  font-size: 32px;
  color: black;
  margin-right: 1rem;
}

.filename {
  font-weight: bolder;
}
