.warningIcon {
  font-size: 3rem;
  color: #faad14;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.warningText {
  font-size: 1.5rem;
}

.collapsePanel {
  border: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5 !important;
}

.collapseContent {
  display: flex;
  flex-direction: column;
}

.collapseContent > .screenshot {
  margin: 0 auto;
}

.metaMaskLink {
  margin: 0 .5rem;
}

.noMetaMask {
  justify-content: center;
}
