.container {
  margin-top: 5rem;
}

.iconWarning {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #faad14;
}

.collapse {
  width: 60vw;
}

.collapseContent {
  margin-left: 1.5rem;
  padding-right: 1.5rem;
}

.lockedMetaMaskScreenshot {
  width: 100%;
}
