.content,
.sessionList,
.sessionListTopBar {
  display: flex;
}

.content,
.sessionListTopBar {
  flex-wrap: nowrap;
}

.content {
  padding: 0;
  margin: 0 auto;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: calc(100vh - 63px);
  border: 1px solid #ebedf0;
  min-width: 52rem;
  min-height: 32rem;
}

.sessionList {
  width: 20rem;
  flex-direction: column;
  border-right: 1px solid #ebedf0;
  flex-shrink: 0;
}

.sessionListTopBar {
  border-bottom: 1px solid #ebedf0;
  padding: 0.625rem;
  flex-shrink: 0;
}

.newConversationButton {
  margin-left: auto;
}

.sessionListInner {
  overflow: auto;
}

.selectedSession::before {
  content: '';
  display: block;
  width: 0.3125rem;
  height: 100%;
  left: 0;
  background-color: #1890ff;
  position: absolute;
}
