:global .container {
  padding: 0 1.25rem;
  width: 100%;
}

:global .title {
  font-size: 1.8rem;
}

:global .center {
  text-align: center;
}

:global .main,
:global .page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:global .main {
  /* height of nav bar */
  padding-top: 63px;
}

:global .twitterTone {
  color: #1DA1F2;
}

:global .facebookTone {
  color: #3B5998;
}

:global .gitHubTone {
  color: #333;
}
