:global .container {
  padding: 0 1.25rem;
  width: 100%;
}

:global .title {
  font-size: 1.8rem;
}

:global .center {
  text-align: center;
}

:global .page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.25rem;
}
