.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: 100%;
  min-height: 3.25rem;
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 8px #f0f1f2;
}

.content, .menu {
  display: flex;
  align-items: center;
}

.menu, .logo {
  margin-right: auto;
}

.menu {
  margin-left: 2rem;
}

.menuIcon {
  margin-right: 4px;
}

:global .ant-menu-item-selected :local .menuItem {
  color: #1890ff !important;
}

.logo {
  font-size: 1.5rem;
  margin: 0;
}

.logoText {
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.logoText:hover {
  color: black;
}

.networkIndicatorWrapper {
  width: 1.5rem;
  padding-top: 0.125rem;
  justify-content: center;
}

.networkIndicator {
  display: inline-block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 1rem;
  user-select: none;
}
.networkIndicator:not(:last-child) {
  margin-right: 0.625rem;
}
.networkIndicatorActive {
  background-color: chartreuse;
}
.networkIndicatorNotAvailable {
  background-color: #faad14;
}

.networkText {
  color: rgba(0, 0, 0, 0.65);
}

.networkOptionsButton:not(:last-child),
.userOptionsButton:not(:last-child) {
  margin-right: 1rem;
}

.networkIndicatorWrapper,
.networkOptionsButton,
.userOptionsButton {
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.networkText:not(:last-child),
.userAvatar:not(:last-child) {
  margin-right: 0.25rem;
}

.currentUserAddress {
  cursor: pointer !important;
}

.userAddressLink {
  padding: 0 !important;
  margin: 0 !important;
  display: inline !important;
}

.userAddress {
  color: rgb(189, 189, 189)
}

.userAvatarDownIcon {
  font-size: 0.5rem !important;
}

:global .ant-menu-horizontal > .ant-menu-item {
  height: 64px;
  line-height: 60px;
  min-width: 72px;
  border-top: 2px solid transparent;
}

:global .ant-menu-horizontal > .ant-menu-item-selected,
:global .ant-menu-horizontal > .ant-menu-item:hover {
  border-top: 2px solid #1890ff;
  border-bottom: 2px solid transparent;
}

:global .ant-menu-horizontal {
  border-bottom: none;
}
