.message {
  font-size: 14px;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  color: gray;
}

.messageSelf {
  margin-left: auto;
}

.sender {
  color: blue;
  margin-right: 10px;
  margin-bottom: 7px;
  word-break: break-all;
}

.time {
  margin-bottom: 14px;
}

.metaInfo {
  width: 100%;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
}

.content {
  color: rgb(22, 22, 22);
  padding: 10px 10px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.118) 0px 1px 6px, rgba(0, 0, 0, 0.118) 0px 1px 4px;
  text-align: start;
  border-radius: 8px;
  margin-top: 0;
}

.messageSelf > .content,
.messageSelf .sender {
  margin-left: auto;
}
