.iconContainer {
  margin: 40px 0 25px;
}

.icon {
  font-size: 50px;
  color: #1DA1F2;
}

.inputContainer {
  width: 250px;
  margin-bottom: 30px;
}

.cancel {
  margin-right: 25px;
}

.tweetContainer {
  margin: 15px 0 25px;
}

.notice {
  font-size: 18px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.buttonsContainer, .iconContainer {
  width: 100%;
}
