.message {
  font-size: 14px;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  color: gray;
}

.messageSelf {
  margin-left: auto;
  position: relative;
}

.sender {
  color: #1890ff;
  margin-right: 10px;
  margin-bottom: 7px;
  word-break: break-all;
}

.messageSelf > .sender {
  color: inherit;
}

.time {
  margin-bottom: 14px;
}

.metaInfo {
  width: 100%;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
}

.messageText {
  color: rgb(22, 22, 22);
  padding: 10px 10px;
  font-size: 16px;
  text-align: start;
  border-radius: 8px;
  margin-top: 0;
  background: white;
  white-space: pre-wrap;
}

.messageSelf .messageText {
  background: rgba(167, 223, 255, .5);
}

.messageSelf > .content,
.messageSelf .sender,
.messageStatus {
  margin-left: auto;
}

.messageStatus {
  position: absolute;
  font-size: 12px;
  display: flex;
  align-items: center;
  bottom: 10px;
  color: #b7b7b7;
  right: 10px;
  text-decoration: none;
  user-select: none;
}
.messageStatus:active {
  color: #40a9ff;
}
.messageStatus:focus {
  text-decoration: none;
}

.messageSelf .sender {
  color: rgba(0, 0, 0, 0.45);
}

.messageStatusIcon:not(:last-child) {
  margin-right: 0.5rem;
}
